button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-radius: 4px;
	padding: 1em 2em;
	cursor: pointer;
	// &:hover {
	// 	border-color: $color__border-button-hover;
	// }

	// &:active,
	// &:focus {
	// 	border-color: $color__border-button-focus;
	// }
}

.mr-1 {
	margin-right: 1rem;
}

.outline {
	border-color: $lightblue;
	background-color: initial;
}

.filled {
	background-color: $orange;
	color: $white;
}
.filled:hover {
	background-color: darken($orange, 5%);
}